* {
  @include reset-all;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: $text-color1;
}
// reset Ul
ul {
  @include reset-ul;
}
// reset Link
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}
// Reset Input
input:focus,
select:focus {
  outline: none;
}

.img-full-place {
  @include full-w-h;
  img {
    @include full-w-h;
  }
}

.main-table {
  thead {
    background-color: #9b9b9b;
    tr {
      th {
        font-weight: 700;
        font-size: 14px;
        text-align: right;
        color: #ffffff;
      }
    }
  }
  tbody {
    tr {
      td {
        font-weight: 600;
        font-size: 15px;
        text-align: right;
        color: #000000;
      }
    }
  }
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: white !important;
}

.green-color {
  color: #19db67;
}
.red-color {
  color: #bd3434;
}
